.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero {
  width: 1440px;
  height: 880px;
  background-image: url("/heroPicture.jpg");
  background-size: cover;
}
